body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}




/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

.menu {
    background-color: #0a0a0a;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Esto hace que los elementos se muestren en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.magic-glamour-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    border: 2px solid #000; 
    padding: 20px; 
}

.left-content img,
.right-content img {
    max-width: 100%;
    height: auto;
    padding-left: 40px;
}

.right-content {
    max-width: 60%; 
    margin-right: 30px; 
    padding-left: 20px;
}

.right-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #101010;
}
.right-content img.title-img {
    max-width: 100%;
    height: auto;
    margin: 30px 0 30px 50px; 
}

.agua-lunar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #000;
    padding: 20px;
}

.contenido-izquierdo {
    max-width: calc(50% - 20px); /* Ajustar al 50% menos el espacio de separación */
}

.contenido-izquierdo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.contenido-izquierdo h4 {
    font-family: serif;
    font-style: italic;
    margin-bottom: 10px; /* Ajusta la separación entre h4 y h5 */
}

.contenido-izquierdo h5 {
    margin-bottom: 20px; /* Ajusta la separación entre h5 */
    color: #626262;
}
.titulo-agua-lunar {
    padding-right: 30px;
}

.contenido-derecho img {
    width: 100%;
    height: auto;
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}

