body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
 } 



/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}



/* Estilos de la sección de bienvenida */
.bienvenida {
    height: 500px;
    background-image: url('../imagenes/houseOfCardsFondo.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondo-bienvenida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tituloblanco {
    max-width: 150%;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.texto-bienvenida {
    max-width: 550px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 20px;
    opacity: 1;
}
.tituloEthereal {
    align-items: center;
}
.zona-slider{
    background-color: #000000;
}
.slider { width: 100%; }
.slider input { display: none; }
.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px; 
    perspective: 1000px;
    overflow: hidden;
}
.img-slider {
    width: 400px;
    height: auto;
}
.testimonials .item {
    width: 400px; 
    
    border-radius: 5px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 5px rgba(27, 25, 25, 0.3);
    user-select: none;
    cursor: pointer;
}
.testimonials .item h1 { font-size: 114px; color: white; }
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots label {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition-duration: 0.2s;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
	transform: scale(2);
	background-color: #fff;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"]{
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"]{
	
	z-index: 4;
}

.seccion-rectangular {
    display: flex;
    background-color: #fff; 
    padding: 20px;
    margin: 20px; 
}

.imagen-izquierda {
    flex: 1; 
    margin-right: 20px; 
}

.imagen-izquierda img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

.contenido-derecha {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.imagen-superior-derecha img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

#p-yourselft {
    font-size: 35px;
    color: #000000; 
    
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}