body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}




/* Estilos del logo */
.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}



main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.productos {
    flex: 2;
}

.producto {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.producto img {
    max-width: 100px;
    margin-right: 20px;
}

.detalles {
    flex: 1;
}

.resumen {
    flex: 1;
    background-color: #333; /* Fondo del resumen */
    color: #fff; /* Color del texto del resumen */
    padding: 20px;
}

.resumen button {
    background-color: #ff0000; /* Botón rojo */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
