*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
 } 

.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}


/* Seccion de los coreanos jugando cartitas */

.seccion-rectangular {
    display: flex;
    background-color: #000000; 
    padding: 20px;
    margin: 20px; 
}

.imagen-izquierda {
    flex: 1; 
    margin-right: 20px; 
}

.imagen-izquierda img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

.contenido-derecha {
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.imagen-superior-derecha img {
    max-width: 100%; 
    height: auto;
    display: block; 
}

#p-presentacion {
    font-size: 27px;
    color: #ffffff; 
    
}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
    margin-left: auto; /* Mueve el icono del carrito al extremo derecho */
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.container-cart-icon {
    display: flex;
    align-items: center;
    margin: 20px;
  }

.count-products{
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px; /* Añade un margen a la izquierda para separar el contador del icono */
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px; 
    
}

.item{
    border-radius: 10px;
   
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}


footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}