body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}





.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

.bienvenida {
    position: relative;
    width: 100%;
    height: 1100px; 
    overflow: hidden;
}

.bienvenida img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.textos-conocenos {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

.textos-conocenos img {
    width: 100%; 
    display: block;
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

.footer-barra-negra {
    display: flex;
    justify-content: center;
}

.footer-barra-negra img {
    max-width: 150px; 
    height: auto; 
    margin: 10px; 
}

