
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/static/imagenes/fondoLogin.jpg');
    background-size: cover;
    background-position: center;
    
  }
  


.Login {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, -2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.Login h1 {
    font-size: 36px;
    text-align: center;
}

.Login .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;


}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none ;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
   color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.Login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;

}

.remeber-forgot a {
    color: #fff;
    text-decoration: none;
  }
  
  .remeber-forgot a:hover {
    text-decoration: underline;
    color: white;
  }

.Login .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;

}

.Login .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px ;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;

}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input[type="text"],
  .input-box input[type="password"] {
    padding-left: 40px; /* Dar espacio para el icono */
  }
  
  .input-box i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #888;
  }